body {
    background-color: #ffead6;
}

#logo-box {
    height: 68.5px;
    width: 245px;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%);
}

/* Cards. */
#all-cards {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-wrap: wrap;
}

.card-background {
    width: 200px;
    height: 250px;
    background-color: snow;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.card-image {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-name {
    font-family: Helvetica, Verdana, sans-serif;
    position: absolute;
    top: 180px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}