body {
  background-color: #ffead6;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100%;
}

#page-border {
  border: 10px solid #dcbea1;
  height: -moz-calc(100% - 20px); /* Firefox */
  height: -webkit-calc(100% - 20px); /* Chrome, Safari */
  height: calc(100% - 20px);
  min-height: -moz-calc(100vh - 20px); /* Firefox */
  min-height: -webkit-calc(100vh - 20px); /* Chrome, Safari */
  min-height: calc(100vh - 20px);
}

#white-background {
  background-color: snow;
  border-radius: 25px;
  font-family: Helvetica, Verdana, sans-serif;
  height: auto;
  margin: 50px auto;
  width: 60%;
  padding: 2%;
}

#store-text {
  font-size: 32px;
  font-weight: bold;
}

#open-text {
  font-weight: bold;
  color: green;
}

#stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

#stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

#stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nonwrap;
  overflow: hidden;
  width: 0;
}

#stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: black;
}

#map {
  width: 100%;
  height: 400px;
}
