body {
  background-color: #ffead6;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100%;
  text-align: center;
}

#page-border {
  border: 10px solid #dcbea1;
  height: -moz-calc(100% - 20px); /* Firefox */
  height: -webkit-calc(100% - 20px); /* Chrome, Safari */
  height: calc(100% - 20px);
  min-height: -moz-calc(100vh - 20px); /* Firefox */
  min-height: -webkit-calc(100vh - 20px); /* Chrome, Safari */
  min-height: calc(100vh - 20px);
}

#logo-box {
  height: 68.5px;
  margin-left: 30px;
  width: 245px;
}

/* Reviews. */
#white-background {
    background-color: snow;
    border-radius: 25px;
    font-family: Helvetica, Verdana, sans-serif;
    height: auto;
    margin: 50px auto;
    width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

#about-background {
    background-color: snow;
    border-radius: 25px;
    font-family: Helvetica, Verdana, sans-serif;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

@-webkit-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

#review-box {
  background: rgba(220, 220, 220, 0.4);
  display: inline-block;
  margin: 10px;
  padding: 15px;
  width: 80%;
  text-align: left;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  opacity: 1;
  -moz-animation: fadein 1s linear;
  -webkit-animation: fadein 1s linear;
  animation: fadein 1s linear;
}

#review-text {
    color: DarkSlateGrey;
    font-family: Helvetica, Verdana, sans-serif;
    text-align: left;
}

#reviewer-info {
    color: black;
    font-family: Helvetica, Verdana, sans-serif;
    text-align: left;
    margin-bottom: 5px;
    border-radius: 5px;
}

#write-a-review {
    background: rgba(220, 190, 161, 0.7);
    display: inline-block;
    margin: 10px;
    padding: 20px;
    width: 80%;
    text-align: left;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#submit-review {
    left: 80%;
}

#name {
    vertical-align: text-top;
    border: none;
    outline: none;
    height: 30px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 15px;
    padding-left: 15px;
}

#review {
    vertical-align: text-top;
    border: none;
    outline: none;
    height: 60px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 15px;
    font-family: Helvetica, Verdana, sans-serif;
}

#submit-review {
    outline: none;
    border-radius: 15px;
    background: none;
    border: 1px solid black;
}

#submit-review:hover {
    background: snow;
}

.bb-text {
    font-family: Helvetica, Verdana, sans-serif;
    text-align: center;
}