html {
    /* border: 10px solid #DCBEA1; */
}

body {
    background-color: #ffead6;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top-text {
    font-family: Helvetica, Verdana, sans-serif;
}

#logo-box {
    height: auto;
    padding-top: 100px;
    top: 400px;
    width: 200;
}

#box {
    text-align: center;
}

#search-box {
    border: 3px solid gainsboro;
    border-radius: 50px;
    height: 30px;
    width: 450px;  
}

#search-button {
    height: 30px;
    right: 50px;
    width: 30px;
}

#reviews-button {
    bottom: 10px;
    left: 50%;
    position: absolute;
}

#white-background {
    background-color: snow;
    border-radius: 25px;
    font-family: Helvetica, Verdana, sans-serif;
    height: auto;
    margin: 50px auto;
    width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#review-box {
    border: 2px DarkGrey solid;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 80%;
}

#reviewer-info {
    color: black;
    font-family: Helvetica, Verdana, sans-serif;
    text-align: left;
}

#review-text {
    color: DarkSlateGrey;
    font-family: Helvetica, Verdana, sans-serif;
    text-align: left;
}

#write-a-review {
    border: 2px DarkGrey solid;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    text-align: left;
    width: 80%;
}

#submit-review {
    left: 80%;
}
