html {
  border: 10px solid #dcbea1;
  height: -moz-calc(100% - 20px); /* Firefox */
  height: -webkit-calc(100% - 20px); /* Chrome, Safari */
  height: calc(100% - 20px);
}

body {
  background-color: #ffead6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#top-text {
  display: inline-block;
  font-family: Helvetica, Verdana, sans-serif;
  top: 5px;
}

#login-message {
  display: inline-block;
  font-family: Helvetica, Verdana, sans-serif;
  position: absolute;
  right: 20px;
  top: 0;
}

#logo-box {
  height: auto;
  padding-top: 100px;
  top: 400px;
  width: 200;
}

/* Search. */
#search-div {
  background: white;
  border: 3px solid gainsboro;
  border-radius: 50px;
  height: 30px;
  left: 50%;
  position: absolute;
  transform: translate(-52%);
  width: 450px;
}

#search-button {
  align-items: center;
  background: white;
  border-radius: 50%;
  color: grey;
  display: flex;
  float: right;
  height: 25px;
  justify-content: center;
  padding-right: 10px;
  padding-top: 3px;
  text-decoration: none;
  width: 25px;
}

#search-button:hover {
  color: black;
}

#search-text {
  background: none;
  border: none;
  float: left;
  font-size: 16px;
  padding-left: 15px;
  padding-top: 6px;
  outline: none;
  width: 380px;
}

#reviews-div {
  border-radius: 50%;
  bottom: 20px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

#reviews-button {
  background: none;
  border: none;
  border-radius: 15px;
  color: black;
  font-size: 14px;
  height: 25px;
  outline: none;
  width: 55px;
}

#reviews-button:hover {
  border: 1px solid black;
}
