#content {
  margin-left: auto;
  margin-right: auto;
}

#greeting-container {
  margin-top: 20px;
}

#cyanbox {
    width: 50%;
    padding: 5px;
    border: 2px solid darkturquoise;
    margin: 10px;
    text-align: center;
    background-color: lightcyan;
}

#yellowbox {
    width: 50%;
    padding: 5px;
    border: 2px solid gold;
    margin: 10px;
    text-align: center;
    background-color: lightyellow;
}

#imagebox {
    width: 50%;
    height: auto;
    padding: 5px;
    margin: 10px
}
